body{
    background-image:url("car.webp");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    color:orange
    
}

form{
    background-color:lightgray;
    border-radius: 0.5%;
    font-size: 15px;
    color:rgb(234, 231, 226);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

container{
    background-color: lightgray;

}

table,th, td, tr{
border-bottom:solid 0.9px;
border-top:solid 0.9px;
border-color: brown;
color:rgb(48, 51, 54);
background-color: beige;
}
h5{
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color:rgb(238, 237, 237)
}

.form-group{
    background-color: rgb(115, 111, 101);
    padding:20px;
}

h3{
    text-shadow:rgb(119, 38, 5);
    text-decoration: double;
    text-shadow: rgb(17, 1, 1);
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color:rgb(75, 15, 15)
    
}